In [ ]:
#1.
Question 1:A retail store wants to identify customers who make frequent purchases. Given the dataset below, write a Python program to:
Group customers by their IDs.


Calculate the total purchase amount per customer.


Identify the top 3 customers with the highest purchase amounts.


Dataset:
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

Expected Output:
Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400

Top 3 Frequent Customers:
   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

## Answer

In [11]:
import pandas as pd
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}
df=pd.DataFrame(data)
grouped=df.groupby('Customer_ID')['Purchase_Amount'].sum().reset_index()
grouped.columns=['Customer_ID','Purchase_Amount']
print('Total Purchases per Customer: \n',grouped)
top3_customers=grouped.sort_values(by='Purchase_Amount',ascending=False).head(3).reset_index(drop=True)
print('Top 3 Frequent Customers:\n',top3_customers)

Total Purchases per Customer:
    Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400
Top 3 Frequent Customers:
    Customer_ID  Purchase_Amount
0          102              600
1          101              520
2          103              480

In [ ]:
#2. Predicting House Prices with Linear Regression
A real estate company wants to predict house prices based on square footage. Write a Python program to:
Train a Linear Regression model.


Predict house prices for given test data.


Dataset:
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

Test Data: [[1800], [2800]]
Expected Output:
Predicted Prices:
[360000. 560000.]

## ANswer

In [13]:
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

df=pd.DataFrame(data)
df
independent=df[['Square_Feet']]
dependent=df[['Price']]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=.3,random_state=0)
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,y_train)
y_pred=reg.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
print('R_score value is:',r_score)
weight=reg.coef_[0][0]
print('Weight is:',weight)
bias=reg.intercept_[0]
print('Intercept Value is:',bias)
Predicted_prices=reg.predict([[1800],[2800]])
print(f'Predicted Prices: \n{Predicted_prices[0][0]:.0f},{Predicted_prices[1][0]:.0f}')

R_score value is: 1.0
Weight is: 200.0
Intercept Value is: -1.1641532182693481e-10
Predicted Prices:
360000,560000

C:\Users\Prabhu\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
..#3:
Identifying Frequent Labels in a Dataset
A company wants to identify the top 3 most common categories in a dataset. Given the dataset below, write a Python program to:
Group the data by Category.


Count the total occurrences of each category.


Identify the top 3 most frequent categories.


Dataset:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

Expected Output:

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

## Answer

In [16]:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}
df1=pd.DataFrame(data)
category_Grouped=df1.groupby('Category')['Value'].count().reset_index()
category_Grouped.columns=['Category','Count']
print('Total Occurrences per Category:\n',category_Grouped)
top3_categories=category_Grouped.sort_values(by='Count',ascending=False).head(3).reset_index(drop=True)
print('Top3 Frequent Categories:\n',top3_categories)

Total Occurrences per Category:
   Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1
Top3 Frequent Categories:
   Category  Count
0        A      4
1        B      3
2        C      3

In [ ]:
#4.
Predicting Missing Values Using Mean Imputation
A dataset contains missing values in the Age column. Write a Python program to:
Replace missing values with the mean of the column.


Display the updated DataFrame.


Dataset:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

Expected Output:

Original Data:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie   NaN
3  David  35.0
4    Eve   NaN

Data after Imputation:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie  30.0
3  David  35.0
4    Eve  30.0

## Answer

In [48]:
#Answer code
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}
df2=pd.DataFrame(data)
print(df2)
mean_Age=df2['Age'].mean()
new_df=df2.fillna({'Age':mean_Age})
new_df

      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie   NaN
3    David  35.0
4      Eve   NaN

      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  30.0
3    David  35.0
4      Eve  30.0

In [ ]:
# 5: 
Implementing a Simple Linear Regression Model
You are given a dataset with Experience (years) and Salary ($). Write a Python program to:
Train a Linear Regression model.


Predict the salary for an individual with 6 years of experience.


Dataset:
import pandas as pd

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)

Expected Output (Example):

Predicted Salary for 6 years of experience: $55000


data = {'word_count': [100, 150, 200, 120, 180, 220], 
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df = pd.DataFrame(data)

Expected Output (Example):
Prediction for email with 200 words: Spam

## ANswer

In [27]:
#Answer code
import pandas as pd
data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)
X=df[['Experience']]
y=df[['Salary']]

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.3,random_state=42)
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)

y_pred=model.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
print('R score is:',r_score)

weight=model.coef_
bias=model.intercept_
print('Model weight is:',weight[0][0])
print(f'Model bias is:, {bias[0]:.2f}')

years_Predicted=model.predict([[6]])
print(f'Expected salary for 6 years experince is:${years_Predicted[0][0]:.2f}')

R score is: 1.0
Model weight is: 5000.0
Model bias is:, 25000.00
Expected salary for 6 years experince is:$55000.00

C:\Users\Prabhu\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

## Answer

In [26]:
#Answer code
data = {'word_count': [100, 150, 200, 120, 180, 220], 
        'is_spam': ['ham', 'spam', 'spam', 'ham', 'spam', 'spam']}
df = pd.DataFrame(data)
X=df[['word_count']]
y=df['is_spam']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.3,random_state=42)

from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X_train,y_train)

y_predict=model.predict(X_test)
print(model.score(X_test,y_test))
print(model.score(X_train,y_train))
print(model.predict([[180]]))
print(model.predict([[120]]))
print(model.predict([[150]]))
print(model.predict([[400]]))

0.5
1.0
['spam']
['ham']
['ham']
['spam']

C:\Users\Prabhu\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
C:\Users\Prabhu\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
C:\Users\Prabhu\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(
C:\Users\Prabhu\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(