In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
#correctd code
import math
print(math.sqrt(16))

4.0

In [2]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [3]:
#corrected code
def my_function(x):
    x=x+5
    print(x)
    
x=10
my_function(x)

15

In [ ]:
#3.x = 5
if x = 10:
    print("x is 10")

In [4]:
#corrected code
x=5
if x==10:
    print("x is 10")

In [5]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

None

In [12]:
#corrected code
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [13]:
#5.
def square(n):
    n * n

print(square(4))

None

In [14]:
#corrected code
def square(n):
    return n*n

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [19]:
#corrected code
my_tuple = (1, 2, 3)
my_tuple=list(my_tuple)
my_tuple[1] = 5
print(tuple(my_tuple))

(1, 5, 3)

In [20]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

TypeError: not enough arguments for format string

In [22]:
#corrected code
name = "Alice"
age = 25
print(f'My name is "{name}" and I am "{age}" years old')

My name is "Alice" and I am "25" years old

In [24]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [25]:
#corrected code
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [26]:
#9.
for i in range(5, 1):
    print(i)

In [27]:
#corrected code
for i in range(5, 1,-1):
    print(i)

5
4
3
2

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

In [28]:
#corrected code
student = {"name": "John", "age": 20}
print(student['name'])

John